@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #ff13b4;
    --alto-contraste-fundo: #000000;
    --alto-contraste-texto: #ff27cd;
    --alto-contraste-link: #ff27cd;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
}

header {
    background-color: #ffffff;
}


section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #ff27cd;
    font-weight: 600;
}

.inicio-fundo {
    /* aula 3 */
    background-image: url('img/fundo.png');
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

/* Definindo as propriedades da imagem do logo */
.container d-flex justify-content-between align-items-center {
    text-align: center;
    margin: 20px 0;
}

.logo {
    width: 200px; /* Ajusta a largura da imagem do logo */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 100%; /* Impede que a imagem ultrapasse a largura do contêiner */
    display: inline-block;
}


/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 10rem;
    top: 18rem;
    width: 20rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.botao-inicio {
    background-color: var(--laranja-claro);
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px var(--laranja-claro);
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/flor.png') top right no-repeat;
    background-size: 200px 200px;
    background: url('img/flor-esquerda.png') bottom left no-repeat;
    background-size: 180px 400px;
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Garante que a imagem e a caixa de texto fiquem nas extremidades */
}

.imagem {
    width: 450px; /* Definindo a largura da imagem */
    height: 400px; /* Definindo a altura da imagem */
    object-fit: cover; /* Garante que a imagem preencha completamente o espaço sem distorcer */
    border-radius: 50%; /* Mantém o estilo "rounded-pill" para bordas arredondadas */
    display: block; /* Garante que a imagem seja tratada como um bloco */
}

/* Caixa rosa para o texto */
.caixa-rosa {
    background-color: #ff1fa2; /* Cor de fundo rosa */
    padding: 1rem;
    border-radius: 15px; /* Bordas arredondadas */
    max-width: 900px; /* Ajuste o tamanho conforme necessário */
    width: 100%; /* Para que a caixa ocupe toda a largura disponível, até o máximo */
    text-align: center;
}

/* Estiliza o título dentro da caixa rosa */
.caixa-rosa h2 {
    font-size: 2rem;
    color: #ffffff; /* Cor do texto do título */
    margin-bottom: 1rem;
}

/* Estiliza o parágrafo dentro da caixa rosa */
.caixa-rosa p {
    font-size: 1.2rem;
    color: #ffffff; /* Cor do texto do parágrafo */
}


h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

#galeria {
    background-color: #FAF4F4;

}

.fundo-galeria {
    background: url('img/flor-bottom-direita.png') bottom right no-repeat;
    background-size: 300px 250px;
}

#contato {
    background-image: url('img/4965007.jpg');
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #ffa8e6;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #ff13b4;
    border: none;
    font-weight: bold;
}

.form-control {
    background-color: #F1EDEF;
}
.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}
.apresenta-lista{
    display: none;
}

.alto-contraste{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste header,
.alto-contraste footer,
.alto-contraste .formulario{
    background-color: var(--alto-contraste-fundo);
    color: var(--alto-contraste-texto);
}

.alto-contraste .nav-link{
    color: var(--alto-contraste-link);
}

.alto-contraste .botao-inicio,
.alto-contraste .formulario button,
.alto-contraste .btn-primary{
    background-color: var(--alto-contraste-link);
    color: var(--alto-contraste-fundo)
}

.alto-contraste #tropicalia {
    background: none;
}

.alto-contraste #galeria {
    background-color: var(--alto-contraste-fundo);
}
.alto-contraste .fundo-galeria {
    background: none;
}